@import "normalize.css";
@import "../vendor/prism.css";

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


.docs, .code {
	display: inline-block;
	vertical-align: top;
}

.docs {
	width: 30%;

	padding-right: 10px;
}

.code {
	width: 65%;
}

code[class*="language-"] {
	tab-size: 2;
}

pre[class*="language-"] {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}